$blue: #007bff;
$mainBlack: #121212;
$mainGray: #666666;
$desktopMini: 1439px;
$tablet: 1023px;
$smart: 767px;

$appFont:'Trebuchet MS';
$headFont:'Exo2.0-Thin';

$defaultBorder: 4px solid #1698D9;
$selectBorder: 4px solid #D91667;
$disabledBorder: 4px solid #B3B3B3;
